# AWS VARIABLES
AWS_REGION=us-east-1
AWS_ZONES=us-east-1a,us-east-1b,us-east-1c
AWS_ACCOUNT_ID=

# EC2 VARIABLES
AWS_EC2_AMI=ami-0440d3b780d96b29d
AWS_EC2_INSTANCE=t2.micro
AWS_EC2_PEM=

# UBUNTU VARIABLES
LOCAL_USER=ec2-user
LOCAL_USER_HOME=/home/${LOCAL_USER}

# EKSCTL VARIABLES
EKSCTL_CLUSTER_NAME=mundose-cluster-g19
EKSCTL_VERSION=1.28
EKSCTL_NODEGROUP_NAME=standard-workers
EKSCTL_NODES=3
EKSCTL_SSH_PUBLIC_KEY=pin3

# NGINX VARIABLES
NGINX_PUBLIC_PORT=80

# PROMETHEUS VARIABLES
PROMETHEUS_PUBLIC_PORT=8080
PROMETHEUS_DOMAIN=http://prometheus-server.prometheus.svc.cluster.local

# GRAFANA VARIABLES
GRAFANA_PUBLIC_PORT=8081
GRAFANA_ADMIN_PASSWORD=EKS!sAWSome
GRAFANA_YAML=./03_monitoring/grafana.yaml

# TERRAFORM VARIABLES

